*{
    margin: 0;
    padding: 0;
    font-family: "Jersey 15", sans-serif;
    box-sizing: border-box;
}

body {
  margin: 0; 
  height: 100vh; 
  width: 100vw;  
  overflow: hidden;
}

h1{
    color: #4f2938;
    text-align: center;
    text-decoration: none;
    font-size: 3.5rem;
}

.card {
    width: 81%;
    max-width: 26.44rem;
    background-color: #4f2938;
    color: #fff;
    margin: 2.7em auto 0;
    border-radius: 1.13rem;
    padding: 2.25rem 1.97rem;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebffec;
    color: #555;
    padding: 0.54rem 1.44rem;
    height: 3.38rem;
    border-radius: 1.8rem;
    flex: 1;
    margin-right: 0.9rem;
    font-size: 1.3rem;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebffec;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
}

.search button img {
    width: 0.9rem;
}

.weather-icon {
    width: 9.56rem;
    margin-top: 1.69rem;
}

.weather h2 {
    font-size: 76.5rem;
    font-weight: 500;
}

.weather h3 {
    font-size: 2.53rem;
    font-weight: 400;
    margin-top: 1.13rem;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.13rem;
    margin-top: 2.81rem;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 2.25rem;
    margin-right: 0.56rem;
}

.humidity, .wind {
    font-size: 1.58rem;
    margin-top: -0.34rem;
}

.error {
    text-align: left;
    margin-left: 0.56rem;
    font-size: 0.79rem;
    margin-top: 0.56rem;
    display: none;
}